In [2]:
import pandas as pd

# 1. IMPORT DATA

### En primer lugar, importamos el archivo que contiene los datos necesarios para entrenar los distintos modelos de Machine Learning que en un futuro utilizaremos.

In [4]:
historic_traffic_data = pd.read_csv(filepath_or_buffer='data/04_2025.csv', sep=';')
historic_traffic_data.head()

,id,fecha,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion
0,1001,01/04/2025 9:45,C30,2260,8,0,57.0,N,3
1,1001,01/04/2025 10:00,C30,2172,7,0,59.0,N,5
2,1001,01/04/2025 10:15,C30,1680,6,0,54.0,N,2
3,1002,01/04/2025 0:00,C30,0,0,0,0.0,N,5
4,1002,01/04/2025 0:15,C30,0,0,0,0.0,N,5

### A continuación, importamos el .csv que contiene los datos de los diferentes puntos de medida de nivel de tráfico en Madrid. De dicho fichero, hay que extraer dos columnas que las añadiremos al primer DataFrame.

In [11]:
columns = ['distrito', 'id']
measure_points_data = pd.read_csv(filepath_or_buffer='data/pmed_ubicacion_04_2025.csv', sep=';', usecols=columns, encoding='utf-8')
measure_points_data.head()

   distrito    id
0       8.0  6639
1       8.0  3797
2       5.0  6640
3       5.0  6642
4       5.0  6643

### Antes de añadir dichas columnas al DataFrame principal, estudiamos la presencia de valores nulos o en blanco en measure_points_data:

In [12]:
measure_points_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4973 entries, 0 to 4972
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   distrito  4968 non-null   float64
 1   id        4973 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 77.8 KB

### La columna 'distrito' posee 5 valores nulos, por lo que procederemos a eliminar dichas filas.

In [13]:
measure_points_data.dropna(inplace=True)
measure_points_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4968 entries, 0 to 4972
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   distrito  4968 non-null   float64
 1   id        4968 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 116.4 KB

### Unimos ambos DataFrames, sabiendo que ambas columnas 'id' de ambos DataFrame representan lo mismo. La adición de la columna 'distrito' al primer DataFrame nos ayudará posteriormente a llevar a cabo agrupaciones o ver en qué distrito se genera una mayor cantidad de atascos.

In [14]:
data = historic_traffic_data.merge(measure_points_data, left_on='id', right_on='id')
data.head()

,id,fecha,tipo_elem,intensidad,ocupacion,carga,vmed,error,periodo_integracion,distrito
0,1001,01/04/2025 9:45,C30,2260,8,0,57.0,N,3,10.0
1,1001,01/04/2025 10:00,C30,2172,7,0,59.0,N,5,10.0
2,1001,01/04/2025 10:15,C30,1680,6,0,54.0,N,2,10.0
3,1002,01/04/2025 0:00,C30,0,0,0,0.0,N,5,10.0
4,1002,01/04/2025 0:15,C30,0,0,0,0.0,N,5,10.0